* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

p {
  color: #64748bff;
}

.hidden {
  display: none;
}

#count-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.count-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 30%;
  margin: 20px 0px;
}

#interview-count {
  color: rgb(0, 207, 0);
}

#rejected-count {
  color: red;
}

.job-container {
  padding: 10px 0px;
}

.total-jobs-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0px 0px;
}

.job {
  padding: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.job-header {
  display: flex;
  justify-content: space-between;
}

.job-header img {
  width: 20px;
  height: 20px;
}

.btn-delete {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  border-radius: 99999px;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
}

.btn-not-applied {
  background-color: #eef4ff;
}

.btn-interview {
  color: rgb(0, 207, 0);
  border: 1px solid rgb(0, 207, 0);
  background-color: white;
}

.btn-rejected {
  color: red;
  background-color: white;
  border: 1px solid red;
}

.active {
  color: white;
  background-color: #3b82f6;
}

#emptyMessage {
  /* display: flex; */
  text-align: center;
  flex-direction: column;
  gap: 20px;

  padding-top: 30px;
}

#emptyMessage img {
  width: 100px;
}
